<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Quiz_Game_App"
            tools:targetApi="31">
        <activity
                android:name="MartialLaw_Normal_Package.TotalScoreMartialNormal"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Normal_Package.MartialLaw_Normal_Quiz5"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Normal_Package.MartialLaw_Normal_Quiz4"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Normal_Package.MartialLaw_Normal_Quiz3"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Normal_Package.MartialLaw_Normal_Quiz2"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Normal_Package.MartialLaw_Normal_Quiz1"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Easy_Package.TotalScoreMartialEasy"
                android:exported="false"
                android:label="@string/title_activity_total_score_martial_easy"
                android:theme="@style/Theme.Quiz_Game_App" />
        <activity
                android:name="MartialLaw_Easy_Package.MartialLaw_Easy_Quiz5"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Easy_Package.MartialLaw_Easy_Quiz4"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Easy_Package.MartialLaw_Easy_Quiz3"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Easy_Package.MartialLaw_Easy_Quiz2"
                android:exported="false" />
        <activity
                android:name="GameDiffulcty_Package.MartialDifficulty"
                android:exported="false" />
        <activity
                android:name="MartialLaw_Easy_Package.MartialLaw_Easy_Quiz1"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Hard_Package.TotalScoreHard"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Hard_Package.PH_USA_Hard_Quiz5"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Hard_Package.PH_USA_Hard_Quiz4"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Hard_Package.PH_USA_Hard_Quiz3"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Hard_Package.PH_USA_Hard_Quiz2"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Hard_Package.PH_USA_Hard_Quiz1"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Normal_package.NormalScore"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Normal_package.PH_USA_Normal_Quiz5"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Normal_package.US_PH_QUIZ5"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Normal_package.PH_USA_Normal_Quiz4"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Normal_package.PH_USA_Normal_Quiz3"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Normal_package.PH_USA_Normal_Quiz2"
                android:exported="false" />
        <activity
                android:name="PhilAmericanWar_Normal_package.PH_USA_Normal_Quiz1"
                android:exported="false" />
        <activity
                android:name="GameDiffulcty_Package.PhDifficulty"
                android:exported="false" /> <!-- Your existing activities -->
        <activity
                android:name="Philippine_American_Quiz_package.US_PH_QUIZ5"
                android:exported="false" />
        <activity
                android:name="Philippine_American_Quiz_package.US_PH_QUIZ4"
                android:exported="false" /> <!-- ... (other activities) ... -->
        <!-- Add the TotalScore_Activity1 declaration -->
        <activity
                android:name="Philippine_American_Quiz_package.TotalScore_Activity1"
                android:exported="false" />
        <activity
                android:name="Philippine_American_Quiz_package.US_PH_QUIZ3"
                android:exported="false" />
        <activity
                android:name="Philippine_American_Quiz_package.US_PH_QUIZ2"
                android:exported="false" />
        <activity
                android:name="Philippine_American_Quiz_package.US_PH_QUIZ1"
                android:exported="false" />
        <activity
                android:name=".Menu"
                android:exported="false" />
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>